.article {
  border: solid 0.5px black;
  margin: auto;
  margin-top: 20px;
  width: 60%;
  height: auto;
  min-height: 100%;
  max-width: 40%;
  border-radius: 5px;
  &__title {
    border: solid 0.5px black;
    height: 50px;
    h2 {
      margin: 5px;
      padding-left: 10px;
      float: left;
      width: 70%;
      height: 75%;
      border: solid 0.5px black;
    }
  }
  &_body {
    border: solid 0.5px black;
    margin: 10px;
    min-height: 400px;
    white-space: pre-line;
  }
}

.edit-area {
  border: solid 0.5px black;
  margin: 10px;
  height: 50px;
  display: flex;
  justify-content: space-between;

  &__assessment {
    display: flex;
    align-items: center;
    .good {
      margin: 10px;
      font-size: 50px;

      &:hover {
        color: blue;
      }
    }
    .good_count {
      font-size: 20px;
    }
    .bad {
      margin: 10px;
      font-size: 50px;
      &:hover {
        color: red;
      }
    }
    .bad_count {
      font-size: 20px;
    }
  }

  &__edit {
    .rewrite {
      font-size: 50px;
      &:hover {
        color: grey;
      }
    }

    .delete {
      font-size: 50px;
      &:hover {
        color: grey;
      }
    }
  }
}

.paging {
  border: solid 0.5px black;
  margin: 10px;
  height: 50px;
  display: flex;
  justify-content: center;

  div {
    font-size: 60px;
    width: 20%;
    display: flex;
    justify-content: center;
    align-items: center;

    &:hover {
      color: rgb(62, 106, 226);
    }
  }
}
