<div class="article">
  <div class="article__title">
    <h2>{{ title }}</h2>
  </div>
  <div class="article_body" *ngIf="!canEdit">
    {{ mainContent }}
  </div>
  <textarea class="article_body" *ngIf="canEdit">
    {{ mainContent }}
  </textarea>
  <div class="edit-area">
    <div class="edit-area__assessment">
      <span class="material-icons-outlined good" (click)="add_GoodCount()">
        thumb_up
      </span>
      <span class="good_count">
        {{ good }}
      </span>
      <span class="material-icons-outlined bad" (click)="add_BadCount()">
        thumb_down
      </span>
      <span class="bad_count">
        {{ bad }}
      </span>
    </div>
    <div class="edit-area__edit">
      <span class="material-icons rewrite" (click)="editArticle()">
        edit
      </span>
      <span class="material-icons delete" (click)="deleteArticle()">
        delete
      </span>
    </div>
  </div>

  <div class="paging">
    <div class="prev-area">
      <div class="material-icons" (click)="goPrev()" [class.isFirst]="isFirst">
        keyboard_arrow_left
      </div>
    </div>
    <div class="next-area">
      <div class="material-icons" (click)="goNext()" [class.isLast]="isLast">
        keyboard_arrow_right
      </div>
    </div>
  </div>
</div>
