<div class="article">
  <div class="article__title">
    <h2>{{ title }}</h2>
  </div>
  <div class="article_body">
    {{ mainContent }}
  </div>
  <div class="edit-area">
    <div class="edit-area__assessment">
      <span class="material-icons-outlined good">
        thumb_up
      </span>
      <span class="good_count">
        {{ good }}
      </span>
      <span class="material-icons-outlined bad">
        thumb_down
      </span>
      <span class="bad_count">
        {{ bad }}
      </span>
    </div>
    <div class="edit-area__edit">
      <span class="material-icons rewrite">
        create
      </span>
      <span class="material-icons delete">
        delete
      </span>
    </div>
  </div>

  <div class="paging">
    <div class="material-icons" (click)="goPrev()">
      keyboard_arrow_left
    </div>
    <div class="material-icons" (click)="goNext()">
      keyboard_arrow_right
    </div>
  </div>
</div>
