<div class = "article">
    <div class = "header">
      <div class = "title">
        <p>blog-detail works!</p>
      </div>
    </div>
    <div class = "article_body">
        aaaaaaa<br>
        aaaaaaa<br>
        aaaaaaa<br>
        aaaaaaa<br>
        aaaaaaa<br>
        aaaaaaa<br>
        aaaaaaa<br>
        aaaaaaa<br>
        aaaaaaa<br>aaaaaaaaaaaaaa<br>
        aaaaaaa<br>
        aaaaaaa<br>
        aaaaaaa<br>
        aaaaaaa<br>
        aaaaaaa<br>
        aaaaaaa<br>
        aaaaaaa<br>
        aaaaaaa<br>
        おっさん<br>aaaaaaa<br>
        aaaaaaa<br>
        aaaaaaa<br>
        aaaaaaa<br>
        aaaaaaa<br>
        aaaaaaa<br>
        おっさん<br>aaaaaaa<br>
        aaaaaaa<br>
        aaaaaaa<br>
        aaaaaaa<br>
        aaaaaaa<br>
        aaaaaaa<br>
        おっさん<br>aaaaaaa<br>
        aaaaaaa<br>
        aaaaaaa<br>
        aaaaaaa<br>
        aaaaaaa<br>
        aaaaaaa<br>
        おっさん<br>
        aaaaaaa<br>
        aaaaaaa<br>
        aaaaaaa<br>
        aaaaaaa<br>
        aaaaaaa<br>
        aaaaaaa<br>
        おっさん<br>

    </div>
    <div class = "edit">
    </div>
    <div class = "paging">
    </div>
  </div>