header {
  background-color: rgb(88, 109, 228);
  height: 50px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.blog-title {
  font-size: 28px;
  margin-left: 10px;
  color: white;
  cursor: pointer;
}

.blog-logo {
  width: 50px;
  height: 50px;
  margin-left: 10px;
}

.user-icon {
  position: relative;
  background-color: gray;
  width: 30px;
  height: 30px;
  border-radius: 50%;
  font-size: larger;
  display: flex;
  justify-content: center;
  align-items: center;
}

ul {
  list-style: none;
}
/////// ここから作り途中

// .icon-nav {
//   width: 300px;
//   height: 350px;
//   border-radius: 5px;
//   background-color: rgb(235, 235, 235);

//   font-size: 16px;
//   font-weight: bold;

//   ul {
//     list-style: none;
//     width: 100%;
//     padding-left: 0;

//     li {
//       height: 100px;
//       width: 100%;
//       display: flex;
//       justify-content: center;
//     }
//     li:first-child:hover {
//       border-top-left-radius: 5px;
//       border-top-right-radius: 5px;
//     }

//     li:not(:last-child) {
//       border-bottom: 1px solid black;
//       align-items: center;
//       &:hover {
//         background-color: gray;
//       }
//     }
//   }
// }
