header{
    background-color: green;
    height:50px;
    display: flex;
    align-items: center;
}

.blog-title{
    font-size: 28px;
    margin-left: 10px;
    color: white;
}

.blog-logo{
    width:35px;
    height: 35px;
    margin-left: 10px;
}

.user-icon{
    background-color: gray;
}